/* Cabeçalho */

body, section{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }

a {
  text-decoration: none;
}

.horizontal{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0;
  background-color: rgb(199, 199, 199);
  position: relative;
  z-index: 9999;

  /* Neumorphism */

  border-radius: 0px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #c1c1c1,
               -5px -5px 10px #ffffff;
}

.cor-texto{
  color: #643b92;
}

#ul-header{margin-right: 25px;} #texto-ca{flex: 1; margin: 0; margin-left: 25px; font-size: 30px;}

li{
  display: inline-flex;
  margin-left: 2.5px;
  margin-right: 2.5px;
  cursor: pointer;
}

/* Cabeçalho */

.tercos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  margin: 15px;
  transition: 1s;
  cursor: pointer;

  border-radius: 70px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #c1c1c1,
               -5px -5px 10px #ffffff;
}

.tercos:hover{
  transform: scale(1.1);
}

.img-terco{
  width: 25vw;
}

.sections{
  position: relative;
  margin: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  flex-wrap: wrap;
  z-index: 1;
}

section#sec1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

/* PRA CELULAR */

@media screen and (max-width: 600px) {
  #ul-header{margin-right: 5px;} #texto-ca{flex: 1; margin: 0; margin-left: 5px;}
  
  .img-terco{
    width: 50vw;
  }

  .sections{
    height: 100vh;
  }

  .tercos{
    border-radius: 30px;
    font-size: 3.5vw;
    margin: 10px;
  }
}

/* PRA CELULAR */