body, section{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }

a {
  text-decoration: none;
}

.link{
  text-decoration: underline;
  color: #643b92;
}

.horizontal{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0;
  background-color: rgb(199, 199, 199);
  position: relative;
  z-index: 9999;

  /* Neumorphism */

  border-radius: 0px;
  background: #f0f0f0;
  box-shadow:  5px 5px 10px #c1c1c1,
               -5px -5px 10px #ffffff;
}

.cor-texto{
  color: #643b92;
}

p{
  font-size: 20px;
}

#ul-header{margin-right: 25px;} #texto-ca{flex: 1; margin: 0; margin-left: 25px; font-size: 30px;}

li{
  display: inline-flex;
  margin-left: 2.5px;
  margin-right: 2.5px;
  cursor: pointer;
}

.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.about-div, .second-div, .bottomDiv{
  padding-right: 25px;
  padding-left: 25px;
}

.about-div, .second-div{
  width: 50%;
}

.bottomDiv{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social{
  height: 5vw;
}

.terco{
  width: 100px;
}

@media (max-width: 700px) {
  .content{
    flex-direction: column;
  }
  .about-div, .second-div{
    width: calc(100% - 50px);
  }
  .social{
    height: 8vw;
  }
}

/* Modal */

dialog{
  border: 2px solid black;
  border-radius: 25px;
  justify-content: start;
  align-items: start;
  width: 200px;
  padding: 15px;
}

dialog::backdrop{
  background-color: rgb(0 0 0 / .5);
  filter: blur(-50px);
}

.titleDialog{
  width: 100%;
  text-align: center;
}

.contentDialog{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background-color: #643b92;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  transition: .2s;
}

input{
  border: none;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  margin: 0;
  /* display: none; */
}

button:hover{
  transform: scale(1.1);
}